

@import url("reset.css");

@font-face {
    font-family: "Pixel Title";
    src: url('../fonts/upheavtt-webfont.woff2');
}

:root {
    --floor-height: 16vh;
}

.container {
    width: 100%;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enemy, .character {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--floor-height));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9998;
    background-color: #e0e0e0;
}

.xp-a-char-options {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.xp-content {
    width: 20%;
    height: 12vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: #e9e9e9;
}

.level {
    height: 3.3vh;
    font-size: 1.4rem;
}

.xp-bar {
    position: relative;
    width: 100%;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: start;
}

.xp-gain {
    position: absolute;
    left: 14px;
    width: 20px;
    height: 14px;
    background-color: #52a559;
}

.char-options-container {
    position: relative;
    width: 40%;
    height: 10vh;
    background-color: #6b3b16;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.char-options-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
    background: #6b3b16;
    z-index: -1;
}
  
.char-options-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
    background: #6b3b16;
    z-index: -1;
}

.char-options {
    position: relative;
    width: 96%;
    height: 8.6vh;
    background-color: #ffca62;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.char-options img {
    transition: 0.15s all;
}

.char-options img:hover {
    cursor: pointer;
    filter: brightness(0.7);
}

.char-options::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
    background: #ffca62;
    z-index: -1;
}

.char-options::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
    background: #ffca62;
    z-index: -1;
}

.mage-img {
    position: absolute;
    left: 10%;
    bottom: var(--floor-height);
    width: 208px;
    z-index: 99999;
}

.floor {
    position: absolute;
    bottom: 0%;
    width: 100%;
    display: flex;
}

.floor img {
    width: 100%;
}

@keyframes outOfMana {
    25% { transform: translate(20px); }
    50% { transform: translate(-20px); }
    75% { transform: translate(20px); }
}

@keyframes pixelArrow {
    0% { transform: translateX(0px); }
    50% { transform: translateX(-8px); }
    100% { transform: translateX(0px); }
}

@keyframes damageShake {
    25% { transform: translateX(20px); }
    50% { transform: translateX(-20px); }
    75% { transform: translateX(20px); }
}

