

@import url("reset.css");

@font-face {
    font-family: "Pixel Title";
    src: url('../fonts/upheavtt-webfont.woff2');
}

:root {
    --floor-height: 80px;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    transition: 1s all;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enemy, .character {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--floor-height));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, rgb(72, 159, 239) 17%, rgba(254,254,254,1) 79%); 
}

.xp-a-char-options {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.xp-content {
    position: absolute;
    left: 3%;
    width: 25%;
    height: 12vh;
    display: flex;
    align-items: flex-start;
    color: #e9e9e9;
    margin-top: 24px;
}

.moldure {
    z-index: 2;
}

.level-text-container {
    position: absolute;
    top: 96px;
    left: 4px;
    width: 86px;
    height: 4.6vh;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    z-index: 1;
}
  
.level-text-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: -4px;
    right: -4px;
    background: #202020;
    z-index: -1;
}

.level-text {
    margin-top: 3px;
}

.xp-life-bars-container {
    flex-direction: column;
    height: 112px;
}

.life-bar-content {
    position: relative;
    width: 276px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.life-bar-span, .xp-bar-span {
    position: absolute;
    top: 6px;
    width: 30px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.life-bar-span {
    background-color: rgb(218, 56, 56);
}

.xp-bar-span {
    background-color: rgb(84, 176, 85);
}

.life-text, .xp-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #181818;
}

.level {
    height: 3.3vh;
    font-size: 1.4rem;
}

.xp-bar {
    position: relative;
    width: 100%;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: start;
}

.xp-gain {
    position: absolute;
    left: 14px;
    width: 20px;
    height: 14px;
    background-color: #52a559;
}

.char-options-container {
    position: relative;
    width: 40%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.sun {
    position: absolute;
    right: 5%;
    top: 13%;
    z-index: 9999;
}

.character-itens {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    width: 120px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.weapon-item {
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.equipament-border {
    position: absolute;
    z-index: -1;
}

.board {
    position: absolute;
}

.char-options {
    position: relative;
    width: 98%;
    height: 11.2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-top: 34px;
}

.char-options img {
    transition: 0.15s all;
}

.char-options img:hover {
    cursor: pointer;
    filter: brightness(0.7);
}

.character-content {
    left: 20%;
    height: 230px;
    display: flex;
    align-items: flex-end;
}

.character-content, .enemy-content {
    position: absolute;
    bottom: var(--floor-height);
    z-index: 99999;
}

.character-equiped-itens-content {
    position: absolute;
    bottom: 0%;
    width: 108px;
    height: 180px;
}

.character-img {
    position: absolute;
    bottom: 0%;
    width: 108px;
    image-rendering: pixelated;
}

.equiped-sword {
    position: absolute;
    bottom: 12px;
    left: 108px;
}

.equiped-shield {
    position: absolute;
    bottom: 12px;
    left: 0px;
    z-index: 1;
}

.equiped-armor {
    position: absolute;
    bottom: 24px;
    left: 24px;
}

.equiped-boots {
    position: absolute;
    bottom: 0px;
    left: 24px;
}

.equiped-helmet {
    position: absolute;
    top: 36px;
    left: 24px;
}

.enemy-content {
    position: absolute;
    right: 20%;
    width: 216px;
    height: 210px;
    display: flex;
    align-items: flex-end;
}

.enemy-life-text {
    position: absolute;
    top: 16px;
    left: 80px;
    transform: translate(-50%,-50%);
    z-index: 5;
}

.enemy-life-bar-span {
    position: absolute;
    top: 0px;
    width: 80px; /*Max: 160px*/
    height: 32px;
    background-color: rgb(218, 56, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d2d2d2;
}

.enemy-life-bar {
    position: absolute;
    top: 0px;
}

.mountain, .tree, .two-tree, .grass, .flowers-content {
    position: absolute;
    bottom: var(--floor-height);
}

.mountain {
    left: 20%;
}

.tree {
    left: 3%;
}

.two-tree {
    left: 50%;
}

.grass {
    left: 58%;
}

.flowers-content {
    right: 2%;
    display: flex;
}

.cloud-1 {
    position: absolute;
    top: 5%;
    right: 20%;
}

.cloud-2 {
    position: absolute;
    top: 20%;
    left: 10%; 
}

.floor {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floor img {
    z-index: 9999999;
}

.player-store-container {
    position: absolute;
    top: -150%;
    left: 187.5px;
    display: flex;
    transition: 0.4s ease-in-out;
}

.player-store-left-container {
    position: relative;
    width: 750px;
    height: 900px;
    z-index: 99999;
}

.player-store-left {
    top: 0%;
    left: 0%;
}

.pots-container {
    position: absolute;
    top: 170px;
    left: 50px;
    width: 650px;
    display: flex;
    justify-content: space-around;
    z-index: 999999;
}

.merchant-text-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 200px;
}

.merchant-text {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    color: #d0d0d0;
    display: none;
}

.merchant-text-no-sort {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    color: #d0d0d0;
    animation: typing 1.5s steps(40, end);
}

.merchant-phrase {
    visibility: hidden;
}

.player-store {
    position: relative;
    top: 1%;
    width: 750px;
    height: 900px;
    z-index: 99999;
}

.buy-message {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translateY(-50%);
    width: 1155px;
    height: 378px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    font-size: 1.2rem;
}

.buy-confirmation-image {
    transition: 0.2s all;
    height: 0px;
    transition: 0.2s all;
}

.buy-message-text {
    display: none;
    position: absolute;
    width: 95%;
    justify-content: center;
}

.equipament-name {
    color: #ffffff;
}

.buy-message-gold-content {
    display: flex;
    align-items: center;
}

.buy-message-gold-content img {
    margin-bottom: 3px;
}

.confirmation-buttons-container {
    position: absolute;
    bottom: 10%;
    width: 278px;
    height: 0px;
    justify-content: space-around;
}

.confirmation-buttons-container img {
    cursor: pointer;
    height: 0px;
}

.yes-button-confirmation {
    transition: 0.3s all;
}

.no-button-confirmation {
    transition: 0.6s all;
}

.x-button {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 999999;
    cursor: pointer;
    transition: 0.1s all;
}

.x-button:hover {
    filter: brightness(0.7);
}

.equipaments-symbol {
    position: absolute;
    top: 75px;
    left: 50%;
    right: 50px;
    transform: translateX(-50%);
    width: 80%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.store-div, .armors-store-div, .rings-store-div, .potions-store-div {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 500px;
    background-color: #ffca62;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    overflow-y: scroll;
}

.armors-store-div, .rings-store-div, .potions-store-div {
    display: none;
}

.item {
    position: relative;
    width: 100px;
    height: 120px;
    background-color: #393939;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    border: 0;
    font-family: 'DePixel', sans-serif;
    object-fit:cover;
    object-position:50% 50%;
}

.staff {
    image-rendering: pixelated;
}

.item:hover {
    transform: scale(1.04);
}

.item:focus {
    transform: scale(1.05);
    border: 7px solid rgb(31, 31, 31);
    margin: 6px;
}

.staff {
    position: absolute;
    top: calc(50% - 10px);
    transform: translateY(-50%);
}

.item-price {
    position: absolute;
    bottom: 0%;
    width: 100px;
    height: 24px;
    background-color: #393939;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e8e8e8;
    z-index: 1;
}
  
.item-price::after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: -3px;
    right: -3px;
    background-color: #393939;
    z-index: -1;
}

.gold-coin {
    margin-right: 5px;
}

.buy-button {
    position: absolute;
    left: 290px;
    bottom: 100px;
    z-index: 9999;
    cursor: pointer;
}

.player-stats-container {
    position: absolute;
    top: -150%;
    left: 50%;
    width: 1674px;
    height: 828px;
    transform: translate(-50%,-50%);
    z-index: 9999999;
    transition: 0.4s ease-in-out;
}

.player-stats-container img {
    image-rendering: pixelated;
}

.player-stats-image-screen {
    position: absolute;
}

.character-stats-close-button {
    position: absolute;
    bottom: -1.5%;
    right: 6%;
    cursor: pointer;
    transition: 0.1s all;
}

.character-stats-close-button:hover {
    filter: brightness(75%);
}

.ribbon-stats {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
}

.player-stats-content {
    width: 100%;
    height: 828px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-stats {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999999;
}

.stats-text-buttons-container {
    width: 370px;
    height: 80px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 1.3rem;
}

.stats-text-buttons-container span {
    position: relative;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.stats-text-buttons-container button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    margin-left: 10px;
    font-family: 'DePixel', sans-serif;
    cursor: pointer;
    border: 3px solid black;
    transition: 0.2s all;
}

.stats-text-buttons-container button:hover {
    background-color: #c6c6c6;
}

.player-stats-skin {
    position: relative;
    width: 400px;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    z-index: 9999999;
}

.character-stats {
    width: 308px;
}

.player-level-stats {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #d4d4d4;
}

.player-stats-xp-container {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    width: 220px;
    height: 40px;
    display: flex;
    justify-content: start;
}

.player-stats-xp-span {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 30px;
    height: 20px;
    background-color: #9bd075;
}

.player-stats-level-bar {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    z-index: -1;
}

.player-stats-kills {
    width: 33%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 9999999;
}

.about-run-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.about-run-title span {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.2rem;
}

.about-run-title hr {
    width: 25px;
    height: 0.3px;
}

.player-stats-kills-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-stats-kills-texts div {
    width: 250px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 10px;
    font-size: 1.4rem;
}


@keyframes outOfMana {
    25% { transform: translate(20px); }
    50% { transform: translate(-20px); }
    75% { transform: translate(20px); }
}

@keyframes pixelArrow {
    0% { transform: translateX(0px); }
    50% { transform: translateX(-8px); }
    100% { transform: translateX(0px); }
}

@keyframes damageShake {
    25% { transform: translateX(20px); }
    50% { transform: translateX(-20px); }
    75% { transform: translateX(20px); }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
